.responsive {
    width: 100%;
    height: auto;
  }

body {
    background-color: #292d31;
  
      background-color: #292d31;
      justify-content: center;
      align-items: center;
      padding: 30px 5%;
      display:contents;  
      overflow: hidden;
      }
