
@font-face {
  font-family: libreBaskerville;
  src: url(https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap)
}

html {
  background-color: #292d31;
}


.responsive {
  width: 100%;
  height: auto;

}

h1 {
  font-size: 50px;
}

h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;;
  font-weight: 400;
  text-align:center;
  color: rgb(196, 250, 250);
}

body {
  background-color: #292d31;

    background-color: #292d31;
    justify-content: center;
    align-items: center;
    padding: 30px 5%;
    display:contents;  
    overflow: hidden;
  }

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow:paleturquoise;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background:powderblue;
  border-radius: 10px;
}

  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 60px;
    max-width: fit-content;
    border-color: rgb(153, 255, 204);
  
    border-style: double;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    width: 150%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgb(153,204,255);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #6699cc;
    padding: 10px;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(153, 255, 204);
  }
  .dropdown-content a:hover {
    color: rgb(153, 255, 204);
    background-color: #6699cc;
  }


  div.gallery {
    margin: 10px;
    border: 2px transparent rgb(255, 215, 182);
    border-spacing: 10px;
    border-radius: 5px;
    background-image: center;
    background-position: relative;
    float:left;
    width: 180px;
    padding: 10px;
  }
  
  div.gallery:hover {
    border: 100% solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
    background-position: center;
    
    
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;;
    font-weight: 400;
    font-size: 14px;
    color: azure;
    text-decoration: none;
    padding: 10px ;
  }


.contactForm {
  margin: 30px ;
  display: inline-block;
  max-width: fit-content;
  border-style: double; border-color: rgb(161, 227, 243);
  padding: 10px;

}

input {    
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;;
  font-weight: 600;
  font-size: 14px;
  align-self: center;
  font-optical-sizing: auto;
  background-color: rgb(153, 255, 204);
  border-radius: 15px ;
  border-inline-color: rgb(127, 128, 129);
  width: fit-content;
  padding: 5px 5px;
  white-space: nowrap; 

}

h4 {
  color: rgb(161, 227, 243);
  font-family:'Arial Narrow', Arial, sans-serif;
  font-size: 22px;
  text-align: center;

}

.homeBody {
  margin: 30px;
  padding-bottom: 10px;
}
