
@font-face {
  font-family: libreBaskerville;
  src: url(https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap)
}



body {
    background-color: #6699cc;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 60px;
    max-width: fit-content;
    border-color: rgb(153, 255, 204);
    border-style: double;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    width: 150%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgb(153,204,255);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #6699cc;
    padding: 10px;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(153, 255, 204);
  }
  .dropdown-content a:hover {
    color: rgb(153, 255, 204);
    background-color: #6699cc;
  }

.contactForm {
  margin: 30px ;
  max-width: fit-content;
  border-style: double; border-color: rgb(161, 227, 243);
}

.homeBody {
  margin: 30px;
  

}